<div class="info">
    {% if users is iterable %}
        {% for user in users %}
            <p>{{ user.name }}<p>
            <p>{{ user.sname }}<p>
            <p>{{ user.city }}<p>
            <p>{{ user.age }}<p>
</div>
<div class="new_question">
    {{ this.tag.form("search/addquestion") }}
        {{ text_field('text_question') }}
        {{ hidden_field('id_user', ['value' : user.id ]) }}
        {{ check_field('anonymously') }}
        <label for="getAnanim"> Анонимно</label>
        {{ submit_Button("Оправить вопрос") }}
    </form>
</div>
{% endfor %}
    {% endif %}
<div class="questions">
    {% if questions is iterable %}
        <?php echo "<h2>Вопроcы</h2>"; ?>
        {% for question in questions %}
            <div class="question">
                <p>Вопрос: <span> {{ question.text_question }} </span><p>
                <p>Ответ <span>  {{ question.answer }} </span><p>
            </div>
        {% endfor %}
    {% endif %}
</div>
