.info
    {
        display: flex;
        padding: 5px;
        background: blue;
        margin-bottom: 30px;
    }
    .new_question
    {
        margin-bottom: 30px;
    }
    .text_question
    {
        width: 500px;
    }
    .info p
    {
        margin-right: 10px;
        color: white;
    }

    .question
    {
        margin-bottom: 10px;
    }
    .question p
    {
        margin: 0;
        background: red;
    }
    .question span
    {
        background: yellow;
    }
    .error
    {
        background-color: red;
        color: white;
    }
    .new_question
    {
        margin-bottom: 30px;
    }

    .destination
    {
        margin: 0;
        background-color: yellow;
    }


