<h2>Ответ</h2>
<div class="question">
    {% if questions is iterable %}
        {% for question in questions %}
            <div class="">
            </div>
            <div class="question">
                <p>Вопрос: <span> {{ question.text_question }} </span><p>
                <p>Ответ <span> {{ question.answer }} </span><p>
            </div>

        {% endfor %}
    {% else %}
    <h5> На ваши вопросы ещё никто не ответил</h5>
    {% endif %}
</div>